{% extends "nunjucks/templates/main.njk" %}

    {% block content %}

        <div class="container">
            <h1 class="display-1">User settings</h1>
            <p class="lead">Settings will go here. Perhaps the option to choose a theme and customise the dashboard. It's not
                 ready yet. In the meantime, you can
              <a href="javascript:history.back()">go back</a>
              to the previous page, or
              <a href="/">return home</a>.</p>
        </div>


        {% endblock %}



</html>
