{% extends "nunjucks/templates/main.njk" %}

    {% block content %}

        <div class="container">
            <h1 class="display-1">404 - Page not found</h1>
            <p class="lead">There's been an error. You can
              <a href="javascript:history.back()">go back</a>
              to the previous page, or
              <a href="/">return home</a>.</p>
        </div>

        {% endblock %}



</html>
